*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type = text]{
    background-color: red;
}
input[type = password]{
    background-color: green;
}

p{
    background-color: pink;
}

.a1{
    font-weight: 800;
}
#fruits{
    background-color: rgb(128, 162, 240);
}